<div class="container-fluid" class="text-center">
  <br>
    <h1>Liste des Clients</h1>
<table class="table table-striped">
  <thead>
<tr>
  <th>ID</th>
  <th>Nom</th>
  <th>Prenom</th>
  <th></th>
</tr>
</thead>
<tbody>
<tr *ngFor="let c of getClients">
  <td>{{c.id}}</td>
  <td>{{c.nom}}</td>
  <td>{{c.prenom}}</td>
  <td><button class="btn btn-warning" (click)="selectedClient(c)" [routerLink]="[ '/editClient' ]" routerLinkActive="active">Editer</button></td>
</tr>
</tbody>
</table>
<button class="btn btn-success"[routerLink]="[ '/editClient' ]" routerLinkActive="active">Ajouter Client</button>
</div>
