<div class="container-fluid" class="text-center">
  <br>
  <h1>Liste des demandes d'achats</h1>
  <table class="table table-striped">
    <thead>
  <tr>
    <th>ID</th>
    <th>Client</th>
    <th>Correspondant</th>
    <th>Chef de projet</th>
    <th>Specialiste</th>
    <th>Pilote_DA</th>
    <th>descrition_besoin</th>
    <th>devis_propose</th>
    <th>direction_exploitant</th>
    <th>service_exploitant</th>
    <th>site_utilisation</th>
    <th>commentaire</th>
    <th>version</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let da of das">

<td>{{da.id}}</td>
<td *ngIf="da.client !== null">{{da.client.prenom}}&nbsp;{{da.client.nom}}</td>
<td *ngIf="da.client ===null">N/A</td>
<td *ngIf="da.correspondant !== null">{{da.correspondant.prenom}}&nbsp;{{da.correspondant.nom}}</td>
<td *ngIf="da.correspondant ===null">N/A</td>
<td *ngIf="da.cdp !== null">{{da.cdp.prenom}}&nbsp;{{da.cdp.nom}}</td>
<td *ngIf="da.cdp ===null">N/A</td>
<td *ngIf="da.specialiste !== null">{{da.specialiste.prenom}}&nbsp;{{da.specialiste.nom}}</td>
<td *ngIf="da.specialiste ===null">N/A</td>
<td *ngIf="da.pilote_da !== null">{{da.pilote_da.prenom}}&nbsp;{{da.pilote_da.nom}}</td>
<td *ngIf="da.pilote_da ===null">N/A</td>
<td>{{da.description_du_besoin}}</td>
<td>{{da.devis_propose}}</td>
<td>{{da.direction_exploitant}}</td>
<td>{{da.service_exploitant}}</td>
<td>{{da.site_utilisation}}</td>
<td>{{da.zone_commentaire}}</td>
<td>{{da.version}}</td>
<td><button class="btn btn-warning" (click)="selectedDA(da.id)" [routerLink]="[ '/edit' ]" routerLinkActive="active" >Editer</button></td>
<td><button class="btn btn-danger" (click)="delete(da.id)">X</button></td>  
</tr>
</tbody>
</table>
</div>