<div class="container-fluid">
 <nav class="navbar">
    <a class="navbar-toggler" [routerLink]="[ '/home' ]" routerLinkActive="active">Home</a> 
    <a class="navbar-toggler " [routerLink]="[ '/list_da' ]" routerLinkActive="active">List DA</a>
    <a class="navbar-toggler " [routerLink]="[ '/list' ]" routerLinkActive="active">List Client</a>
    <a class="navbar-toggler " [routerLink]="[ '/list' ]" routerLinkActive="active">List Correspondant</a>
    <a class="navbar-toggler " [routerLink]="[ '/list' ]" routerLinkActive="active">List Specialiste</a>
    <a class="navbar-toggler " [routerLink]="[ '/list' ]" routerLinkActive="active">List Chef de projet</a>
    <a class="navbar-toggler " [routerLink]="[ '/list' ]" routerLinkActive="active">List Pilote_DA</a>
    <a  class="navbar-toggler " [routerLink]="[ '/edit' ]" routerLinkActive="active">Nouvelle DA</a>&nbsp;
</nav></div>
<div>
 <router-outlet></router-outlet>
</div>

