<div class="container-fluid" id="base">

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Nom :</span>
        </div>
    <input [(ngModel)]="client.nom" class="form-control">
  </div>
  <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Prénom :</span>
      </div>
      <input [(ngModel)]="client.prenom" class="form-control">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Username :</span>
        </div>
      <input [(ngModel)]="client.username" class="form-control">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Password :</span>
        </div>
      <input [(ngModel)]="client.password" class="form-control" type="password">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Roles :</span>
        </div>
      <select [(ngModel)]="selectedRole" class="form-control">
        <option value="ROLE_ADMIN" >Administrateur</option>
        <option value="ROLE_CLIENT" >Client</option>
        <option value="ROLE_CORRESPONDANT" >Correspondant</option>
        <option value="ROLE_SPECIALISTE" >specialiste</option>
        <option value="ROLE_PILOTEDA" >Pilote DA</option>
        <option value="ROLE_CDP" >Chef de projet</option>
      </select>
      &nbsp;
      <button class="btn btn-success" (click)="addRole()">Ajouter role</button> 
    </div>
    Le client à le/les role(s) : <ul><li *ngFor="let role of client.roles">{{role}}</li></ul><button (click)="deleteRole()" class="btn btn-warning">Réinitialiser les roles</button>
   

&nbsp;<button class="btn btn-success" (click)="save()">Enregistrer</button>
&nbsp;<button class="btn btn-warning" (click)="annuler()">Annuler</button>

</div>