<div class="container-fluid" class="text-center">

        <br>
        <h1>Application de gestion des</h1>
        <h1>demandes d'achats</h1>
    
        <!-- <div class="w-50 container text-center mt-5">
            <button class="inline w-50 h-100 btn-block">Login</button>
            <button class="inline w-50 h-100 btn-block">Créer une demande d'achat</button>
            <br>
            <button class="inline w-50 h-100 btn-block">Mes demandes d'achats</button>
            <button class="inline w-50 h-100 btn-block">Suivi des demandes d'achats</button>
        </div>
    </div> -->