<div class="container-fluid rounded shadow" id="base">
<h1 *ngIf="auth.token != null">Connected as : {{connectedUser.prenom}}&nbsp;{{connectedUser.nom}}</h1>
<h1 *ngIf="auth.token == null">Please connect</h1>
<br>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text bg-warning shadow">Username :</span>
    </div>
    <input [(ngModel)]="user.username" type="text" class="form-control shadow">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text bg-warning shadow">Password :</span>
    </div>
    <input  [(ngModel)]="user.password" type="password" class="form-control shadow">
  </div>
<button class="btn btn-success" (click)="login()">Login</button>

</div>