<nav class="rounded shadow">
<div class="text-center p-1"> <h1 style="font-size: 3vw">Application de gestion des demandes d'achats</h1></div>
</nav>

<div class="container-fluid rounded shadow" id="base">
<h1 *ngIf="auth.token != null" style="font-size: 3vw">Connected as : {{connectedUser.prenom}}&nbsp;{{connectedUser.nom}}</h1>
<h1 *ngIf="auth.token == null" style="font-size: 3vw">Please connect</h1>
<br>

  <div class="input-group mb-3">
    <div class="input-group-prepend shadow ">
        <span class="input-group-text bg-warning shadow w-100 " style="font-size: 1.3vw">Username :</span>
    </div>
    <input [(ngModel)]="user.username" type="text" class="form-control shadow h-auto">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend shadow">
      <span class="input-group-text bg-warning shadow w-100" style="font-size: 1.3vw">Password :</span>
    </div>
    <input  [(ngModel)]="user.password" type="password" class="form-control shadow h-auto">
  </div>
<button class="btn btn-success shadow" (click)="login()" style="font-size: 1.5vw">Login</button>

</div>